{% extends 'layout.html' %}
{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="logo-container col-md-3">
                <img src="stackzLogo.png" class="logo">
            </div>
            <div class="col-md-9 description">
                <h1>Stackz</h1>
                <p class="question">Do you spend more time at meetups than coding?</p>
                <p>You're in the right place, my friend.</p>
                <p class="question">Got a big job interview and need to wow 'em with something new?</p>
                <p>Look no further.</p>
                <p class="question">Starting a company and can't decide what technology to use?</p>
                <p>The stack name is critical.</p>
                <form action="stack" method="post" class="form-inline">
                    <input class="input-lg" type="text" name="stackName" required="required" pattern="[A-Za-z]{1,8}" placeholder="Your stack name" />
                    <input type="submit" value="Stackify Me" class="submit-button btn-lg" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
