<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackz</title>
</head>
<body>
<h2>Stackz</h2>
<p>It can be tough to pick which technologies to use for your startup or project. We can help.
    Enter a word relevant to your project and we'll recommend a stack you can use to build it out.</p>
<form action="stack" method="post">
    <label for="stackName">Name:</label>
    <input type="text" name="stackName" required="required" pattern="[A-Za-z]{1,8}"/>
    <input type="submit" value="Stackify Me"/>
</form>
</body>
</html>