{% extends 'layout.html' %}
{% block body %}

<div class="main-content">
    <div class="row">
        <div class="logo-container col-md-3">
            <img src="stackzLogo.png" class="logo">
        </div>
        <div class="col-md-9 description">
            <h1>Get ready for the {{ stack_name }} stack:</h1>

            {% for technology in stack %}
                <div class="technology">{{ technology }}</div>
            {% endfor %}

            <div class="mt-100">
                <a href="{{ url_for('index') }}" class="submit-button">Pick a New Stack</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
