<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackz</title>
</head>
<body>
{% with stack_names = get_flashed_messages(category_filter='stackName') %}
    {% for stack_name in stack_names %}
        <p>Your stack is the {{ stack_name }} stack</p>
    {% endfor %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter='technology') %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<p><a href="{{ url_for('index') }}">This stack sucks, let me generate another one.</a></p>
</body>
</html>