body {
    background: url("../stackzBackground.png");
    background-size: cover;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    background-position: bottom right;
    background-attachment: fixed;
}

h1 {
    padding: 0;
    margin: 0 0 .25em 0;
}

ul {
    margin-bottom: 20px;
}

.stacks-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 150px;
    float: left;
    margin: 30px;
}

.main-content {
    width: 75%;
    background-color: rgba(255,255,255,.9);
    border-radius: 3px;
    margin: 30px
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-9, .col-md-3 {
    margin: 0;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.description {
    padding: 30px;
}

.form-control {
    border-radius: 3px;
    border: 1px solid rgb(199, 204, 209);
}

.submit-button {
    background-color: #F47735;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px;
}

.submit-button:hover {
    background-color: #e9590d;
}

a:hover {
    color: white;
    text-decoration: none;
}

.control-label {
    font-size: 16px;
}

.question {
    font-size: 1.25em;
    margin-bottom: 0.25em;
}

.technology {
    font-size: 1.25em;
}

.technology::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

.mt-100 {
    margin-top: 1em;
}

.input-lg {
    border: 1px solid rgb(199, 204, 209);
    border-radius: 3px;
}

input:focus {
    border: 1px solid rgb(199, 204, 209);
    outline: none;
}

@media only screen and (max-device-width : 736px) {
    h1 {
        clear: both;
        text-align: center;
        padding-bottom: 10px;
    }

    .stacks-container {
        display: block;
        padding: 5px;
    }

    .main-content {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo {
        margin: 0;
        padding-top: 20px;
    }
}
